body {	direction: rtl;	font-family: tahoma, arial, serif;	font-weight:normal; 	font-style:normal;}
.sites ul li h2 a { font-family: tahoma, arial, serif; font-weight:normal; font-style:normal; font-size:15px; line-height:24px; color:#516472; }
.section_box p { tahoma, arial, serif; font-weight:normal; font-style:normal; font-size:14px; line-height:24px; color:#000000; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {	font-family: tahoma, arial, serif;	font-weight:normal; font-style:normal; font-size:16px; color:#ff8a00; }.col-md-4, .col-xs-6 { float:right; }
.btn-toolbar { margin-right: -5px; }
.btn-toolbar .btn-group,.btn-toolbar .input-group { float: right; }
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group { margin-right: 5px; }
.btn-group > .btn-group { float: right; }
.btn-group>.btn,.btn-group-vertical>.btn{position:relative;float:right}

.powered, .powered a  { font-family:Tahoma, Arial; }

.navbar-collapse { padding-right: 0px; }

.navbar-nav{ float:right; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:right; margin-right:0; }
.dropdown-menu { text-align:right; }


.navbar-header { float:right; }
.navbar-brand{float:right;height:50px;padding:15px 15px;font-size:18px;line-height:20px; text-decoration: underline; }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
.navbar-nav{ float:none; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:none; }
.navbar-header { float:none; }
}

@media only screen and (min-width: 240px) and (max-width: 320px) {
.navbar-nav{ float:none; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:none; }
.navbar-header { float:none; }
}

@media only screen and (max-width: 240px) {
.navbar-nav{ float:none; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:none; }
.navbar-header { float:none; }
}