body {	direction: rtl;	font-family: Tahoma, Arial, serif;	font-weight:normal; 	font-style:normal;}
.sites ul li h2 a { font-family: Tahoma, Arial, serif; font-weight:normal; font-style:normal; font-size:15px; line-height:24px; color:#516472; }
.section_box p { font-family: Tahoma, Arial, serif; font-weight:normal; font-style:normal; font-size:14px; line-height:24px; color:#000000; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {	font-family: Tahoma, Arial, serif;	font-weight:normal; font-style:normal; font-size:16px; color:#2e1308; }
.btn-toolbar { margin-right: -5px; }
.btn-toolbar .btn-group,.btn-toolbar .input-group { float: right; }
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group { margin-right: 5px; }
.btn-group > .btn-group { float: right; }
.btn-group>.btn,.btn-group-vertical>.btn{position:relative;float:right}

.panel { margin-bottom: 10px; }
.panel-body { padding: 10px; }
.panel-heading { padding: 10px; }
.panel { margin-bottom: 10px; }
.panel-body ul { padding-right: 25px; }
.books ul, .books_ar ul { margin: 0 0 0 0; padding:0 0 0 0; }

.GB_Window .caption { text-align: right; white-space: nowrap; padding-right: 3px; }
.GB_Window .close { text-align: left; }

.powered, .powered a  { font-family:Tahoma, Arial; }

.navbar-collapse { padding-right: 0px; }

.navbar-nav{ float:right; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:right; margin-right:0; }
.dropdown-menu { text-align:right; }


.navbar-header { float:right; }
.navbar-brand{float:right;height:50px;padding:15px 15px;font-size:18px;line-height:20px; text-decoration: underline; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}

@media (max-width: 768px) {
.navbar-nav{ float:none; margin:0; margin-right:0px; padding-right:0px; }
.navbar-nav>li{ float:none; }
.navbar-header { float:none; }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
}